// HEADER
header.header
	.header-top
		.o-container
			ul.header-top__options
				
	.header-main
		.o-container
			a.header__logo(href="")
			nav.header-main__nav
				ul
					li: a(href="") Home
					li: a(href="") About Us
					li: a(href="") Our Approch
					li: a(href="") Our Work
					li: a.btn(href="") Free Consultation
